<?xml version="1.0"?>
<robot name="lwr" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--Import the lbr iiwa macro -->
  <xacro:include filename="$(find lwr_description)/urdf/lwr.xacro"/>
 <!-- Import Gazebo plugins -->
  <xacro:include filename="$(find lwr_description)/gazebo/gazebo.urdf.xacro"/>

  <!-- Fix to world just for testing -->
  <link name="world"/>

  <!--lwr-->
  <xacro:lwr name="lwr" hardware_interface="$(arg prefix)" parent="world">
    <origin xyz="0 0 0.0" rpy="0 0 0" />
  </xacro:lwr>

</robot>
