<?xml version="1.0"?>
<robot name="lwr_velvet" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <material name="LWR_VELVET/Black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>

  <material name="LWR_VELVET/Blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>

  <material name="LWR_VELVET/Green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>

  <material name="LWR_VELVET/Grey">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>

  <material name="LWR_VELVET/Orange">
    <color rgba="${255/255} ${108/255} ${10/255} 1.0"/>
  </material>

  <material name="LWR_VELVET/Brown">
    <color rgba="${222/255} ${207/255} ${195/255} 1.0"/>
  </material>

  <material name="LWR_VELVET/Red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>

  <material name="LWR_VELVET/White">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <material name="LWR_VELVET/Aluminium">
    <color rgba="${118/255} ${115/255} ${111/255} 1.0"/>
  </material>

  <material name="LWR_VELVET/Wood">
    <color rgba="${128/255} ${70/255} ${27/255} 1.0"/>
  </material>

</robot>
