<?xml version="1.0"?>
<launch>
  <!--Convenience launch file to start gazebo + control--> 

  <!--The hardware_interface parameter determines which hardware inteface is used-->
  <include file="$(find lwr_velvet_gazebo)/launch/lwr_velvet_world.launch">
    <arg name="hardware_interface" value="VelocityJointInterface" />
  </include>

  <include file="$(find lwr_velvet_control)/launch/lwr_velvet_control.launch">
    <arg name="hardware_interface" value="VelocityJointInterface" />
    <arg name="controllers" value="joint_state_controller
                                   lwr_0_joint_forward_vel_controller
				   lwr_1_joint_forward_vel_controller
				   lwr_2_joint_forward_vel_controller
				   lwr_3_joint_forward_vel_controller
				   lwr_4_joint_forward_vel_controller
				   lwr_5_joint_forward_vel_controller
				   lwr_6_joint_forward_vel_controller
				   velvet_fingers_joint_1_forward_vel_controller" /> 

  </include>

<!-- Launch RQT for control tuning 
 <node name="lwr_rqt" pkg="rqt_gui" type="rqt_gui" respawn="false"
	output="screen" args="-perspective-file $(find lwr_control)/launch/lwr_forward_vel_control.perspective"/-->


</launch>
